*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: 0;
    word-break: break-all;
    position: relative;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem=10px*/
}

body{
    background-image: url(https://github.com/haonanwu123/pofo/blob/main/img/background.jpg?raw=true);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.6rem;
}

header#header{
    width: 100%;
    display: flex;
    margin: 0 0 2rem 0;
    justify-content: space-between;
}

div#logo{
    width: 10rem;
    height: 10rem;
    margin: 1rem 0 0 2rem;
}

.logo{
    width: 100%;
}

.header__nav {
    margin-left: 6rem;
    margin-right: auto;
}

.nav__checkbox {
    display: none;
}


.nav__button {
    height: 3rem;
    width: 3rem;
    z-index: 300;
}


.nav__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    z-index: 200;
    background-color: #100A5B;
    opacity: 0;
    transition: all .6s cubic-bezier(.83, 0, .17, 1);
}



.nav__icon,
.nav__icon::before,
.nav__icon::after {
    width: 3rem;
    height: 3px;
    background-color: #fff;
    display: inline-block;

}

.nav__icon::before,
.nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
    transform-origin: center;
}

.nav__icon::before {
    top: -.8rem;
}

.nav__icon::after {
    top: .8rem;
}

.nav__icon {
    display: none;
    z-index: 400;
    left: 0;
}

.nav__button:hover .nav__icon::before {
    transform: translateY(-2px);
}

.nav__button:hover .nav__icon::after {
    transform: translateY(2px);
}



.nav__menu {
    display: flex;
    z-index: 201;
}

.menu-item {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-item__text {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    transition: transform .1s ease-in;
}

.menu-item:hover .menu-item__text {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-3px);
}

div#grid{
    display: flex;
    max-width: 15rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns:5rem 5rem 5rem;
    grid-template-rows: 5rem;
}

img#github{
    grid-template-columns: 1;
    grid-template-rows: 1;
    max-width: 5rem;
}

img#facebook{
    grid-template-columns: 2;
    grid-row: 1;
    max-width: 5rem;
}

img#ins{
    grid-template-columns: 3;
    grid-template-rows: 1;
    max-width: 5rem;
}

.wapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 0;
    margin: 0;
}

#content{
    display: flex;
    width: 50%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
}

article.content{
    max-width: 100%;
    height: 100%;
    white-space: pre-wrap;
}

article h2.title{
    margin: 0;
    display: inline-flex;
    font-family: Hind Siliguri, sans-serif;
}

article p.article{
    font-size: 1.2em;
    font-family: Fuzzy Bubbles, sans-serif;
    margin: 0;
}

.img-wapper{
    display:flex;
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#img{
    position: relative;
    width: 30rem;
    height: 40rem;
    margin: 0;
}

#me{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    display: block;
}

#img #description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
}

#img .description--blur{
    backdrop-filter: blur(2px);
}

#img #description > *{
    transform: translateY(2rem);
    transition: transform 0.25s;
}

#img #description:hover{
    opacity: 1;
}

#img #description:hover > *{
    transform: translateY(0);
}

#description .description{
    font-family: Hind Siliguri, sans-serif;
}


footer{
    width: 100;
    justify-content: space-between;
    font-weight: 500;
    display: flex;
}

footer #telefoonnummer{
    text-align: left;
    margin-left: 1rem;
    display: inline-flex;
}

#telefoonnummer .telefoonnummer{
    color: rgb(255, 255, 255);
}

footer #email{
    text-align: center;
    display: inline-flex;
}

#email .email{
    color: rgba(255, 255, 255, 255);
}

footer #wechat{
    text-align: right;
    margin-right: 1rem;
    display: inline-flex;
}

#wechat .wechat{
    color: rgba(255, 255, 255, 255);
}
