*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: 0;
    word-break: break-all;
    position: relative;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem=10px*/
}

body{
    background-image: url(https://github.com/haonanwu123/pofo/blob/main/img/background.jpg?raw=true);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.6rem;
}

header#header{
    width: 100%;
    display: flex;
    margin-bottom: 5rem;
    padding: 3rem 2rem 0 2rem;
    justify-content: space-between;
}

div#logo{
    width: 4.4rem;
    height: 4.4rem;
}

.logo{
    width: 4.4rem;
    height: 4.4rem;
    display: inline-block;
}

.header__nav {
    margin-left: 6rem;
    margin-right: auto;
}

.nav__checkbox {
    display: none;
}


.nav__button {
    height: 3rem;
    width: 3rem;
    z-index: 300;
}


.nav__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    z-index: 200;
    background-color: #100A5B;
    opacity: 0;
    transition: all .6s cubic-bezier(.83, 0, .17, 1);
}



.nav__icon,
.nav__icon::before,
.nav__icon::after {
    width: 3rem;
    height: 3px;
    background-color: #fff;
    display: inline-block;
}

.nav__icon::before,
.nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
    transform-origin: center;
}

.nav__icon::before {
    top: -.8rem;
}

.nav__icon::after {
    top: .8rem;
}

.nav__icon {
    display: none;
    z-index: 400;
    left: 0;
}

.nav__button:hover .nav__icon::before {
    transform: translateY(-2px);
}

.nav__button:hover .nav__icon::after {
    transform: translateY(2px);
}



.nav__menu {
    display: flex;
    z-index: 201;
}

.menu-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-item__text {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    transition: transform .1s ease-in;
}

.menu-item:hover .menu-item__text {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-3px);
}

div#grid{
    display: flex;
    max-width: 15rem;
    display: grid;
    grid-template-columns:5rem 5rem 5rem;
    grid-template-rows: 5rem;
}

img#github{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 5rem;
}

img#facebook{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 5rem;
}

img#ins{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 5rem;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 0;
    margin-bottom: 5rem;
    padding: 0 6.5rem 0 6.5rem;
    justify-content: center;
    text-align: center;
}

#content{
    display: flex;
    max-width: 150rem;
    min-width: 30rem;
    max-height: 30rem;
    padding: 0;
    margin: 0;
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
}

article.content{
    max-width: 150rem;
}

article h2.title{
    margin: 0;
    display: inline-flex;
    text-align: center;
    font-family: Hind Siliguri, sans-serif;
}

article p.article{
    font-size: 1.2em;
    word-break: normal;
    white-space: pre-line;
    font-family: Fuzzy Bubbles, sans-serif;
    margin: 0;
    text-align: left;
}

.img-wrapper{
    display:flex;
    width: 30rem;
    height: 40rem;
    padding: 0;
    margin: 0;
}

#img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
}

#me{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    display: block;
}

#img #description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
}

#img .description--blur{
    backdrop-filter: blur(2px);
}

#img #description > *{
    transform: translateY(2rem);
    transition: transform 0.25s;
}

#img #description:hover{
    opacity: 1;
}

#img #description:hover > *{
    transform: translateY(0);
}

#description .description{
    font-family: Hind Siliguri, sans-serif;
}

.aboutme-wrapper{
    margin: 10rem 27rem 10rem 10rem;
    padding-left: 18.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 109.91%);
    border-radius: 1rem;
    padding: 4rem;
    max-width: 38rem;
    margin-right: 3.2rem;
    margin-bottom: 3.2rem;
}

.aboutme-img{
    width: 30rem;
    opacity: 0.95;
    border-radius: 1rem;
}

#aboutme-article-wrapper{
    display: -webkit-flex;
    -webkit-box-align: center;
    overflow: auto;
    min-width: 30rem;
}

.aboutme-article{
    word-break: normal;
    text-align: left;
    font-family: Hind Siliguri, sans-serif;
    font-weight: 500;
}

.project-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#project-js{
    width: 30rem;
    border-radius: 1rem;
}

#project-fate{
    width: 30rem;
    border-radius: 1rem;
}

#project-oudepofo{
    width: 30rem;
    border-radius: 1rem;
}

.card__subtitle {
    font-size: 2rem;
    word-break: normal;
    white-space: pre-wrap;
    font-weight: 500;
    font-family: Fuzzy Bubbles ,sans-serif;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.card__btn {
    display: inline-block;
    outline: none;
    background-color: transparent;
    padding: 0;
    transform: translateX(-10px);
    transition: all .1s ease-in;
}

.card__btn a {
    font-size: 2rem;
    font-family: Hind Siliguri, sans-serif;
    color: #3BFFF2;
    text-decoration: none;
    padding: .8rem 1rem;
}

.card__btn:hover {
    transform: translateX(0);
}

.card__btn:hover a {
    background: linear-gradient(95.83deg, rgba(255, 255, 255, 0.3) -2.4%, rgba(255, 255, 255, 0) 103.86%);
    border-radius: 5px;
}

footer{
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    display: flex;
}

footer #telefoonnummer{
    text-align: left;
    margin-left: 1rem;
    display: inline-flex;
}

#telefoonnummer .telefoonnummer{
    color: rgb(255, 255, 255);
}

footer #email{
    text-align: center;
    display: inline-flex;
}

#email .email{
    color: rgba(255, 255, 255, 255);
}

footer #wechat{
    text-align: right;
    margin-right: 1rem;
    display: inline-flex;
}

#wechat .wechat{
    color: rgba(255, 255, 255, 255);
}

@media screen and (max-width: 832px){
    .header__nav {
        order: -1;
        margin: 0;
    }

    .nav__icon {
        display: inline-block;
        transition: all .2s;
    }

    .nav__menu {
        flex-direction: column;
        justify-content: center;
        transition: all .6s ease-in-out;
        opacity: 0;
        width: 0;
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
    }

    .menu-item {
        margin-bottom: 1rem;
    }

    .menu-item__text {
        font-size: 2.5rem;
    }

    .nav__checkbox:checked~.nav__button .nav__icon::before {
        transform: translateY(8px)rotate(45deg);
    }

    .nav__checkbox:checked~.nav__button .nav__icon {
        background-color: transparent;
    }

    .nav__checkbox:checked~.nav__button .nav__icon::after {
        transform: translateY(-8px)rotate(-45deg);
    }

    .nav__checkbox:checked~.nav__menu {
        opacity: 1;
        width: 100vw;
        height: 100vh;
    }

    .nav__checkbox:checked~.nav__background {
        display: inline-block;
        transform: scale(80);
        opacity: 0.5;

    }

    .aboutme-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 472px) {
    .wapper{
        padding: 0 1rem 0 1rem;
    }

    #content .title{
        position: relative;
        left: -4rem;
    }

    footer{
        font-size: 1rem;
    }

    .aboutme-wrapper{
        margin-left: 6rem;
    }

    .project-wrapper{
        margin-left: 5rem;
    }
}

@media screen and (max-width: 400px) {
    .aboutme-wrapper{
        margin-left: 3rem;
    }

    .project-wrapper{
        margin-left: 3rem;
    }
}