body{
    margin: 0;
    padding: 0;
}

#wapper{
    background-image: url(https://github.com/haonanwu123/pofo/blob/main/img/background.jpg?raw=true);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    margin: auto;
    padding: 0;
}

header#header{
    width: 100vw;
    height: 7.8125rem;
}

div#logo{
    float: left;
    position: relative;
    top: 1.5625rem; left: 1.5625rem;
    width: 4.6875rem;
    height: 4.6875rem;
    transform: rotate(45deg);
    background-color: rgba(0, 255, 255, 0.753);
}

p.logo{
    display: inline-flex;
    margin-top: 1.125rem;
    margin-left: 1.625rem;
    transform: rotate(-45deg);
    font-size: 2rem;
    font-family: 'Corinthia', sans-serif;
}

table.header{
    float: left;
    margin-left: 3.125rem;
    margin-top: 1.5625rem;
}

td.header1{
    font-family: 'Smooch',sans-serif;
}

td.header2{
    font-family: 'Hind Siliguri',sans-serif;
}

div#grid{
    max-width: 9.375rem;
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns:3.125rem 3.125rem 3.125rem;
    grid-template-rows: 3.125rem;
    float: right;
}

img#github{
    grid-template-columns: 1;
    grid-template-rows: 1;
    max-width: 3.125rem;
}

img#facebook{
    grid-template-columns: 2;
    grid-row: 1;
    max-width: 3.125rem;
}

img#ins{
    grid-template-columns: 3;
    grid-template-rows: 1;
    max-width: 3.125rem;
}

div.main{
    margin: 0;
    padding: 0;
}

div.menu{
    height:50vh;
    position:absolute;
    width: 9.375rem;
    background:rgba(51,51,51,0.5);
    left:0;
    transition:0.5s linear;
    overflow: hidden;
    transform:translateX(-100%);
}

input#switch{
    display:none;
}

label.open{
    position:absolute;
    z-index:5;
    width:1.25rem;
    height:1.25rem;
    transition:0.3s ease-in-out;
    margin:0.625rem;
}

.main label.open:hover{ 
    filter:drop-shadow(0 0 0.625rem #1e90ff);
}

label.open:hover::after,label.open:hover::before{
    background:white;
}

label.open::before,label.open::after{
    content:"";
    width:100%;
    height:20%;
    position:absolute;
    left:0;
    background:#1e90ff;
    transition:0.5s ease-in-out;
}

label.open::before{
    top:20%;
}

label.open::after{
    top:60%;
}

#switch:checked ~ label.open::before{
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}

#switch:checked ~ label.open::after{
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}

#switch:checked ~ label.open{
    transform:translateX(6.875rem);
}

#switch:checked ~ .menu{
    transform:translateX(0);
}

.menu ul{
    text-align:center;
    padding-top:3.125rem;
}

.menu ul li{
    margin-top:0.9375rem;
    font-size:1rem;
    color:white;
    cursor: pointer;
    white-space: nowrap;
    font-weight: bold;
    transition:0.2s linear;
}

ul li:hover{
    text-shadow:1px 1px 1px black,0 0 10px white,0 0 20px white;
    color:#1e90ff;
}

#content{
    width: 50vw;
    height: 50vh;
    padding: 0;
    margin: 0;
    overflow: auto;
    float: left;
}

::-webkit-scrollbar{
    width: 0;
}

article.content{
    max-width: 43.75rem;
    margin-left: 9.375rem;
    white-space: pre-line;
}

article h2.title{
    margin: 0;
    display: inline-flex;
    font-family: Hind Siliguri, sans-serif;
}

article p.article{
    font-size: 1.2rem;
    font-family: Fuzzy Bubbles, sans-serif;
    margin: 0;
}

#img{
    position: relative;
    width: 25rem;
    margin-right: 9.375rem;
    float: right;
}

#me{
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    display: block;
}

#img #description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    border-radius: 50%;
    overflow: hidden;
}

#img .description--blur{
    backdrop-filter: blur(0.125rem);
}

#img #description > *{
    transform: translateY(1.25rem);
    transition: transform 0.25s;
}

#img #description:hover{
    opacity: 1;
}

#img #description:hover > *{
    transform: translateY(0);
}

#description .description{
    font-family: Hind Siliguri, sans-serif;
}


footer{
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 11.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #telefoonnummer{
    width: 33.3%;
    height: 100%;
    text-align: left;
    margin-left: 0.625rem;
}

#telefoonnummer .telefoonnummer{
    color: aqua;
}

footer #email{
    width: 33.3%;
    height: 100%;
    text-align: center;
}

#email .email{
    color: aqua;
}

footer #wechat{
    width: 33.3%;
    height: 100%;
    text-align: right;
    margin-right: 0.625rem;
}

#wechat .wechat{
    color: aqua;
}